<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsServiceExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <WindowsServiceExample.Properties.Settings>
      <setting name="ListeningPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="EnableIpV6" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckCertificateRevocation" serializeAs="String">
        <value>NoCheck</value>
      </setting>
      <setting name="ConnectionTimeOutSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Enable100ContinueBehaviour" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableConnectionPool" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTcpServerConnectionPrefetch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableWinAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForwardToUpstreamGateway" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxCachedConnections" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ReuseSocket" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TcpTimeWaitSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SaveFakeCertificates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHttp2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoDelay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThreadPoolWorkerThreads" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DecryptSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogErrors" serializeAs="String">
        <value>True</value>
      </setting>
    </WindowsServiceExample.Properties.Settings>
  </applicationSettings>
</configuration>