<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DefineConstants>FRAMEWORK_DEPENDENT;PUBLISH;WINDOWS;$(DefineConstants)</DefineConstants>
    <Configuration>Release</Configuration>
    <PublishDir>bin\Release\Publish\FrameworkDependent\win-arm64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win10-arm64</RuntimeIdentifier>
    <Platform>ARM64</Platform>
    <TargetFramework>net6.0-windows10.0.19041.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <!-- C:\Program Files\dotnet\sdk\6.0.101\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.RuntimeIdentifierInference.targets -->
    <!-- Delete <NETSdkError ... ResourceName="SingleFileWin7Incompatible" ... /> -->
    <!-- https://github.com/dotnet/sdk/issues/16499 -->
    <!-- https://github.com/dotnet/sdk/pull/19439/files#diff-a34c0c3c174905dc5ce1e883006893f45b46b08fcac6ba51535c464cb952c6a2R162 -->
    <!-- https://www.nuget.org/packages/runtime.win7-x64.Microsoft.NETCore.Windows.ApiSets -->
    <!--“GenerateBundle”任务意外失败。-->
    <!--System.IO.IOException: 文件“bin\Release\Publish\win-x64\Steam++.exe”正由另一进程使用，因此该进程无法访问此文件。-->
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>
