<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DefineConstants>PUBLISH;WINDOWS;</DefineConstants>
    <Configuration>Release</Configuration>
    <PublishDir>bin\Release\Publish\win-x64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win7-x64</RuntimeIdentifier>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishReadyToRunUseCrossgen2>true</PublishReadyToRunUseCrossgen2>
    <PublishReadyToRunComposite>false</PublishReadyToRunComposite>
    <Platform>Any CPU</Platform>
    <TargetFramework>net6.0</TargetFramework>
    <PublishSingleFile>False</PublishSingleFile>
    <PublishTrimmed>False</PublishTrimmed>
  </PropertyGroup>
</Project>