[submodule "MetroRadiance"]
	path = MetroRadiance
	url = https://github.com/rmbadmin/MetroRadiance.git
[submodule "Titanium-Web-Proxy"]
	path = Titanium-Web-Proxy
	url = https://github.com/rmbadmin/Titanium-Web-Proxy.git
