<configuration>
    <packageSources>
        <add key="LocalNuGetPackages_common" value="./ref/pkg/common" />
        <add key="LocalNuGetPackages_steamclient" value="./ref/pkg/steamclient" />
        <add key="LocalNuGetPackages_wtts" value="./ref/pkg/wtts" />
    </packageSources>
</configuration>