<configuration>
    <packageSources>
        <add key="LocalNuGetPackages_rx" value="./ref/pkg/rx" />
        <add key="LocalNuGetPackages_wtts" value="./ref/pkg/wtts" />
		<add key="avalonia-nightly" value="https://pkgs.dev.azure.com/AvaloniaUI/AvaloniaUI/_packaging/avalonia-all/nuget/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>