<configuration>
	<!-- https://learn.microsoft.com/zh-cn/nuget/reference/nuget-config-file -->
	<packageSources>
		<!-- 👇 添加本地包源 LocalNuGetPackages -->
		<!--<add key="LocalNuGetPackages_rx" value="./ref/pkg/rx" />-->
		<!--<add key="LocalNuGetPackages_wtts" value="./ref/pkg/wtts" />-->
		<!--<add key="LocalNuGetPackages_xxxx" value="./ref/pkg/xxxx" />-->
		<!-- 👇 AvaloniaUI 每夜版 -->
		<add key="avalonia-nightly" value="https://pkgs.dev.azure.com/AvaloniaUI/AvaloniaUI/_packaging/avalonia-all/nuget/v3/index.json" protocolVersion="3" />
		<!-- 👇 GitHub 包源 https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry -->
		<!--<add key="github" value="https://nuget.pkg.github.com/BeyondDimension/index.json" />-->
	</packageSources>
</configuration>