@namespace System.Application.Pages.Exception
@page "/exception/403"

<Result Status="403"
        Title="403"
        SubTitle="Sorry, you are not authorized to access this page.">
    <Extra>
        <Button Type="primary">Back Home</Button>
    </Extra>
</Result>