<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="20220303" android:versionName="2.6.9" package="net.steampp.app" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
  <application android:fullBackupContent="@xml/auto_backup_rules"></application>
  <!-- Required for API Level 30 to make sure the app can detect browsers and other apps where communication is needed.-->
  <!--https://developer.android.com/training/basics/intents/package-visibility-use-cases-->
  <queries>
    <package android:name="net.steampp.app" />
    <!-- Required for API Level 30 to make sure the app detect browsers
      (that don't support custom tabs) -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
    <!-- Required for API Level 30 to make sure the app can detect browsers that support custom tabs -->
    <!-- https://developers.google.com/web/updates/2020/07/custom-tabs-android-11#detecting_browsers_that_support_custom_tabs -->
    <intent>
      <action android:name="android.support.customtabs.action.CustomTabsService" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="http" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
    <intent>
      <action android:name="android.intent.action.SENDTO" />
      <data android:scheme="mailto" />
    </intent>
  </queries>
</manifest>