@namespace System.Application.Pages.Exception
@page "/exception/500"

<Result Status="500"
        Title="500"
        SubTitle="Sorry, something went wrong.">
    <Extra>
        <Button Type="primary">Back Home</Button>
    </Extra>
</Result>