<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DefineConstants>PUBLISH;WINDOWS;CONSOLEAPP;$(DefineConstants)</DefineConstants>
    <Configuration>Release</Configuration>
    <PublishDir>bin\Release\Publish\win-x64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <!-- 注意：RuntimeIdentifier win-x86 会导致亚克力效果会丢失 -->
    <RuntimeIdentifier>win7-x64</RuntimeIdentifier>
    <!--<PublishReadyToRun Condition=" '$(OS)' == 'Windows_NT' ">true</PublishReadyToRun>-->
  </PropertyGroup>
</Project>
