@namespace System.Application.Pages.Exception
@page "/exception/404"

<Result Status="404"
        Title="404"
        SubTitle="Sorry, the page you visited does not exist.">
    <Extra>
        <Button Type="primary">Back Home</Button>
    </Extra>
</Result>