@namespace System.Application.Pages.Account.Settings

<AntList 
    TItem="UserLiteItem"
    ItemLayout="ListItemLayout.Horizontal"
    DataSource="_data">
    <ListItem Actions="_actions">
        <ListItemMeta Title="@context.Title" Description="@context.Description">
            <AvatarTemplate>
                <Icon Type="@context.Avater" Theme="outline" Class="@context.Avater" />
            </AvatarTemplate>
        </ListItemMeta>
    </ListItem>
</AntList>

@code
{
    private static RenderFragment _modify = @<a key="bind">Bind</a>;

    private readonly RenderFragment[] _actions = {_modify};
}