name: CI
on:
  push:
    branches:
      - v3.x
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
#        os: [ windows-latest ]
        os: [ self-hosted-win10-x64 ]
        
    steps:
      - name: Checkout repository
        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
          
      - name: Checkout repository(BD.Git.Checkout.Tools)
        if: ${{ matrix.os == 'self-hosted-win10-x64' }}
        shell: pwsh
        run: C:\checkout.exe {{ github.workspace }} {{ github.sha }} {{ github.repositoryUrl }}

      - name: Setup .NET
        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.0.x

      - name: Install Android SDK
        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
        run: dotnet workload install android

      - name: Install iOS SDK
        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
        run: dotnet workload install ios

      - name: Install macOS SDK
        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
        run: dotnet workload install macos

      - name: Install Mac Catalyst SDK
        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
        run: dotnet workload install maccatalyst

      - name: Install Maui
        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
        run: dotnet workload install maui

#      - name: Install wasm-tools
#        if: ${{ matrix.os != 'self-hosted-win10-x64' }}
#        run: dotnet workload install wasm-tools

      - name: Restore Workload
        run: dotnet workload restore

      - name: Verify dotnet info
        run: dotnet --info

      - name: Build BD.WTTS.Client.AppHost
        shell: pwsh
        run: dotnet build -c Release src\BD.WTTS.Client.AppHost\BD.WTTS.Client.AppHost.csproj --nologo -v q /property:WarningLevel=1 

      - name: Build BD.WTTS.Client.Plugins.Accelerator.ReverseProxy
        shell: pwsh
        run: dotnet build -c Release src\BD.WTTS.Client.Plugins.Accelerator.ReverseProxy\BD.WTTS.Client.Plugins.Accelerator.ReverseProxy.csproj --nologo -v q /property:WarningLevel=1 

      - name: Build BD.WTTS.Client.Avalonia.App
        shell: pwsh
        run: dotnet build -c Release src\BD.WTTS.Client.Avalonia.App\BD.WTTS.Client.Avalonia.App.csproj --nologo -v q /property:WarningLevel=1 

      - name: Build BD.WTTS.Client.Avalonia.Designer.HostApp
        shell: pwsh
        run: dotnet build -c Release src\BD.WTTS.Client.Avalonia.Designer.HostApp\BD.WTTS.Client.Avalonia.Designer.HostApp.csproj --nologo -v q /property:WarningLevel=1 

      - name: Test
        shell: pwsh
        run: dotnet test src/BD.WTTS.UnitTest/BD.WTTS.UnitTest.csproj -c Release -p:GeneratePackageOnBuild=false --nologo -v q /property:WarningLevel=1 

#  release:
#    name: Release
#    needs: build
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Changelog
#        uses: glennawatson/ChangeLog@v1
#        id: changelog
#
#      - name: Create Release
#        uses: ncipollo/release-action@v1
#        with:
#          token: ${{ secrets.RMBADMIN_TOKEN }}
#          body: ${{ steps.changelog.outputs.commitLog }}
#          draft: false
#          prerelease: false
